<a href="https://colab.research.google.com/github/4GeeksAcademy/Proyecto_Final_Close-Loop-Intelligence/blob/main/Proyecto_Final_Close_Loop_Intelligence_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Idea Integral Ganadora: Close Loop Intelligence
---

1. ***Definición del Problema (El "Pitch" de Negocio)***

    Muchas empresas sufren de dos males: el stockout (perder ventas por no tener producto) o el exceso de inventario (dinero muerto en estanterías que se deprecia). Este proyecto construye un Sistema de Inteligencia de Ciclo Cerrado que predice cuánto se va a vender para decidir exactamente cuánto comprar y qué promocionar para salir del inventario lento.

2. **Arquitectura de Datos (Paso 2 y 3: Ingesta y SQL)**

    Para llegar a las 60,000+ filas, utilizaremos un dataset transaccional histórico.

    Origen: Dataset de Retail (tipo Online Retail II o Instacart).

    Modelo de Datos (SQL): Almacenarás los datos en una base de datos relacional con este esquema:

        Tabla_Ventas: ID_Transaccion, Fecha, ID_Producto, Cantidad, Precio_Unitario, ID_Cliente.

        Tabla_Productos: ID_Producto, Categoria, Costo_Reposicion, Stock_Actual, Punto_Reorden.

    Uso de SQL (Crítico): No solo cargarás los datos. Usarás SQL para crear una Vista Maestra mediante un JOIN. Calcularás el "Lead Time" (tiempo de entrega) y la "Venta Promedio Diaria" usando GROUP BY y funciones agregadas. Esta vista será la que alimentará tu modelo de Machine Learning.

3. **El Cerebro del Proyecto (Paso 4, 5 y 6: EDA y ML)**

    Aquí es donde ocurre la magia. Dividiremos el modelo en dos enfoques:

    *Enfoque de Ventas (Predicción de Demanda):*

    Utilizarás un modelo de Series Temporales o Regresión (como Random Forest Regressor) para predecir cuántas unidades de un producto se venderán en los próximos 15-30 días basándote en la estacionalidad y tendencias históricas.

    *Enfoque de Compras/Inventario (Optimización):*

    Clasificación ABC: Usarás los datos para clasificar productos. Los "A" son los que más dinero generan (nunca pueden faltar), los "C" son los lentos.

    Cálculo de Stock de Seguridad: Aplicarás fórmulas estadísticas para determinar el inventario mínimo necesario.

4. **La Salida en Ventas: "Revenue Optimizer"**

    Para darle ese toque final de ventas que mencionaste, añadiremos un componente de Estrategia Comercial:

    Si el modelo predice una demanda baja para un producto con mucho stock (Exceso), la aplicación sugerirá automáticamente un descuento o promoción de "cross-selling" para forzar la salida de esa mercancía y recuperar flujo de caja.

5. **Desarrollo de la Web App (Paso 7: La interfaz)**
    
    La aplicación (en Streamlit) tendrá tres pestañas claras para el usuario final:

    *Dashboard Ejecutivo (Ventas):* Gráficos elocuentes que muestran la proyección de ingresos para el próximo mes y el "Top 10" de productos estrella.

    *Módulo de Compras (Reposición):* Una tabla generada por tu modelo que diga: "Debes pedir 500 unidades del Producto X hoy mismo al proveedor Y para no quedar desabastecido el lunes".

    *Módulo de Ofertas (Salida de Inventario):* Una sección que resalte: "¡Alerta! Tienes demasiado stock de este producto. Aplica un 15% de descuento para incentivar la venta".

In [1]:
#Realizamos la instalacion para ejecutar la conexion con Kaggle
!pip install kaggle
!pip install opendatasets

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.6)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from opendatasets) (4.67.3)
Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from opendatasets) (8.3.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (5.29.6)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import opendatasets as od
import sqlite3
import os
import glob

od.download('https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: Rubeneduardoo
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce
Downloading brazilian-ecommerce.zip to ./brazilian-ecommerce

100%|██████████| 42.6M/42.6M [00:00<00:00, 1.29GB/s]

In [4]:
#Configuramos Nombres de Base de Datos
BD = 'BaseSQL.db'
csv_files = glob.glob('brazilian-ecommerce/*.csv')

conexion = sqlite3.connect(BD)

try:
    print(f"Iniciando migración de {len(csv_files)} archivos a la base de datos...")

    for archivo in csv_files:
        # Limpiamos el nombre para la tabla (sin extensión y sin caracteres raros)
        nombre_tabla = os.path.splitext(archivo)[0].replace(" ", "_").lower()

        # Cargamos el archivo a un DataFrame
        df = pd.read_csv(archivo)

        # 3. Guardar en la base de datos
        # index=False evita que se cree una columna extra para el índice de pandas
        df.to_sql(nombre_tabla, conexion, if_exists='replace', index=False)

        print(f"Cargado con éxito: {archivo} -> Tabla: {nombre_tabla}")

    print("\nProceso finalizado. Ahora puedes borrar los .csv originales si lo deseas.")

finally:
    conexion.close()

Iniciando migración de 9 archivos a la base de datos...
Cargado con éxito: brazilian-ecommerce/olist_customers_dataset.csv -> Tabla: brazilian-ecommerce/olist_customers_dataset
Cargado con éxito: brazilian-ecommerce/olist_order_reviews_dataset.csv -> Tabla: brazilian-ecommerce/olist_order_reviews_dataset
Cargado con éxito: brazilian-ecommerce/olist_order_items_dataset.csv -> Tabla: brazilian-ecommerce/olist_order_items_dataset
Cargado con éxito: brazilian-ecommerce/olist_order_payments_dataset.csv -> Tabla: brazilian-ecommerce/olist_order_payments_dataset
Cargado con éxito: brazilian-ecommerce/olist_sellers_dataset.csv -> Tabla: brazilian-ecommerce/olist_sellers_dataset
Cargado con éxito: brazilian-ecommerce/product_category_name_translation.csv -> Tabla: brazilian-ecommerce/product_category_name_translation
Cargado con éxito: brazilian-ecommerce/olist_orders_dataset.csv -> Tabla: brazilian-ecommerce/olist_orders_dataset
Cargado con éxito: brazilian-ecommerce/olist_products_dataset.csv -> Tabla: brazilian-ecommerce/olist_products_dataset
Cargado con éxito: brazilian-ecommerce/olist_geolocation_dataset.csv -> Tabla: brazilian-ecommerce/olist_geolocation_dataset

Proceso finalizado. Ahora puedes borrar los .csv originales si lo deseas.

In [8]:
#Consulta SQL
conexion = sqlite3.connect(BD)
cursor = conexion.cursor()

cursor.execute('SELECT name FROM sqlite_master WHERE type = "table"')
tablas = cursor.fetchall()

for tabla in tablas:
    print(tabla[0])

brazilian-ecommerce/olist_customers_dataset
brazilian-ecommerce/olist_order_reviews_dataset
brazilian-ecommerce/olist_order_items_dataset
brazilian-ecommerce/olist_order_payments_dataset
brazilian-ecommerce/olist_sellers_dataset
brazilian-ecommerce/product_category_name_translation
brazilian-ecommerce/olist_orders_dataset
brazilian-ecommerce/olist_products_dataset
brazilian-ecommerce/olist_geolocation_dataset

In [9]:
# Consulta simple para listar todas las tablas
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Ejecución
df_tablas = pd.read_sql_query(query, conexion)
print(df_tablas)

                                                name
0        brazilian-ecommerce/olist_customers_dataset
1    brazilian-ecommerce/olist_order_reviews_dataset
2      brazilian-ecommerce/olist_order_items_dataset
3   brazilian-ecommerce/olist_order_payments_dataset
4          brazilian-ecommerce/olist_sellers_dataset
5  brazilian-ecommerce/product_category_name_tran...
6           brazilian-ecommerce/olist_orders_dataset
7         brazilian-ecommerce/olist_products_dataset
8      brazilian-ecommerce/olist_geolocation_dataset

In [10]:
#Ejecutamos una consulta simple - DF Order Review

conn = sqlite3.connect(BD)
tables = ['order_reviews', 'products','orders','customers','sellers','order_items','geolocation','order_payments']
dfT = {}

for table in tables:
    query = f'SELECT * FROM "brazilian-ecommerce/olist_{table}_dataset" '
    dfT[table] = pd.read_sql_query(query, conn)
    print(f"Tabla '{table}' cargada con {len(dfT[table])} filas.")

Tabla 'order_reviews' cargada con 99224 filas.
Tabla 'products' cargada con 32951 filas.
Tabla 'orders' cargada con 99441 filas.
Tabla 'customers' cargada con 99441 filas.
Tabla 'sellers' cargada con 3095 filas.
Tabla 'order_items' cargada con 112650 filas.
Tabla 'geolocation' cargada con 1000163 filas.
Tabla 'order_payments' cargada con 103886 filas.

In [11]:
for t in tables:
  print(dfT[t].shape)

(99224, 7)
(32951, 9)
(99441, 8)
(99441, 5)
(3095, 4)
(112650, 7)
(1000163, 5)
(103886, 5)

In [12]:
dfT['customers'].head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [13]:
dfT['order_items'].head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [14]:
dfT['order_payments'].head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [15]:
dfT['orders'].head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [16]:
dfT['products'].head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [17]:
dfT['sellers'].head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [18]:
dfT['geolocation'].head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [19]:
dfT['order_reviews'].head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [20]:
#Prueba de Ejecucion del Master JOUN para las Tablas de Ventas

##Columnas de la primera transformacion para la tabla de ventas: Fecha, ID_Orden, ID_Cliente, ID_Producto, Posicon_Item, Precio_Unitario

query_maestra = """
SELECT
    o.order_purchase_timestamp AS Fecha,
    o.order_id AS ID_Orden,
    o.customer_id AS ID_Cliente,
    i.product_id AS ID_Producto,
    i.order_item_id AS Posicion_Item,
    i.price AS Precio_Unitario,
    i.price AS Precio_Unitario,
    i.freight_value AS Costo_Flete,
    pay.payment_value AS Total_Pago_Orden
FROM "brazilian-ecommerce/olist_orders_dataset" o
JOIN "brazilian-ecommerce/olist_order_items_dataset" i ON o.order_id = i.order_id
JOIN "brazilian-ecommerce/olist_order_payments_dataset" pay ON o.order_id = pay.order_id
LIMIT 1000;
"""

df_ventas = pd.read_sql_query(query_maestra, conn)
display(df_ventas.head())

#Cabe destacar que este DF de Ventas aun no contempla cantidad de items vendidos dentro de una orden. Por tanto, se requieren mas transformaciones

,Fecha,ID_Orden,ID_Cliente,ID_Producto,Posicion_Item,Precio_Unitario,Precio_Unitario,Costo_Flete,Total_Pago_Orden
0,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,87285b34884572647811a353c7ac498a,1,29.99,29.99,8.72,2.00
1,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,87285b34884572647811a353c7ac498a,1,29.99,29.99,8.72,18.12
2,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,87285b34884572647811a353c7ac498a,1,29.99,29.99,8.72,18.59
3,2018-07-24 20:41:37,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,595fac2a385ac33a80bd5114aec74eb8,1,118.70,118.70,22.76,141.46
4,2018-08-08 08:38:49,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,aa4383b373c6aca5d8797843e5594415,1,159.90,159.90,19.22,179.12

In [61]:
# Calculamos la cantidad de productos, el Subtotal de la Orden, y el Total de la Misma

queryV = """
  SELECT
    o.order_id,
    i.product_id,
    i.price AS Precio_Unitario,
    COUNT(i.product_id) AS Cantidad_Productos,
    COUNT(i.product_id) * i.price AS Subtotal_Orden,
    i.freight_value AS Costo_Flete,
    (COUNT(i.product_id) * i.price) + i.freight_value AS Total_Orden,
    SUM(pay.payment_value) AS Total_Pago_Orden

  FROM "brazilian-ecommerce/olist_orders_dataset" o
  JOIN "brazilian-ecommerce/olist_order_items_dataset" i ON o.order_id = i.order_id
  JOIN "brazilian-ecommerce/olist_order_payments_dataset" pay ON o.order_id = pay.order_id
  GROUP BY o.order_id;
    """

consultaV = pd.read_sql_query(queryV, conn)
consultaV.sort_values(by='Cantidad_Productos', ascending=False).head()

,order_id,product_id,Precio_Unitario,Cantidad_Productos,Subtotal_Orden,Costo_Flete,Total_Orden,Total_Pago_Orden
52745,895ab968e7bb0d5659d16cd74cd1650c,5ddab10d5e0a23acb99acf56b62b3276,83.80,63,5279.40,5.12,5284.52,483.96
98246,fedcd9f7ccdc8cba3a18defedd1a5547,0554911df28fda9fd668ce5ba5949695,79.99,38,3039.62,22.88,3062.50,411.48
96501,fa65dad1b0e818e3ccc5cb0e39231352,1aecdb5fa3add74e385f25c6c527a462,392.55,29,11383.95,65.44,11449.39,457.99
78975,ccf804e764ed5650cd8759557269dc13,8d37ee446981d3790967d0268d6cfc81,49.99,26,1299.74,12.69,1312.43,62.68
76421,c6492b842ac190db807c15aff21a7dd6,0449db5eede617c5fd413071d582f038,189.90,24,4557.60,22.80,4580.40,850.80

In [96]:
# Averiguamos la cantidad de pagos que se

pago_q = """
  SELECT
    pay.order_id,
    SUM(pay.payment_value) AS Total_Pago_Orden,
    COUNT(pay.payment_type) AS Cantidad_Pagos
  FROM "brazilian-ecommerce/olist_order_payments_dataset" pay
  GROUP BY pay.order_id;
"""

consulta_pago = pd.read_sql_query(pago_q, conn)
consulta_pago.sort_values(by='Total_Pago_Orden', ascending=False).head()

                               order_id  Total_Pago_Orden  Cantidad_Pagos
1471   03caa2c082116e1d31e67e9ae3700499          13664.08               1
44830  736e1922ae60d0d6a89247b851902527           7274.88               1
3156   0812eb902a67711a1cb742b3cdaa65ae           6929.31               1
99071  fefacc66af859508bf1a7934eab1e97f           6922.21               1
95186  f5136e38d1a14a4dbd87dff67da82701           6726.66               1

In [97]:
pagosdf = pd.DataFrame(consulta_pago)
pagosdf[pagosdf['order_id'] == '0008288aa423d2a3f00fcb17cd7d8719']

                            order_id  Total_Pago_Orden  Cantidad_Pagos
13  0008288aa423d2a3f00fcb17cd7d8719            126.54               1

In [69]:
r = pd.DataFrame(consultaV)
r.loc[r['order_id'] == '03caa2c082116e1d31e67e9ae3700499']

,order_id,product_id,Precio_Unitario,Cantidad_Productos,Subtotal_Orden,Costo_Flete,Total_Orden,Total_Pago_Orden
1455,03caa2c082116e1d31e67e9ae3700499,5769ef0a239114ac3a854af00df129e4,1680.0,8,13440.0,28.01,13468.01,109312.64

In [76]:
#Rehacemos el query final para la obtencion del DataFrame de Ventas

query_final = """
  WITH Total_Pagos AS (
    SELECT
      pay.order_id,
      SUM(pay.payment_value) AS Total_Pago_Orden
    FROM "brazilian-ecommerce/olist_order_payments_dataset" pay
    GROUP BY pay.order_id
  )
SELECT
    o.order_purchase_timestamp AS Fecha,
    o.order_id AS Orden ID,
    o.customer_id AS Cliente ID,
    c.customer_unique_id AS Nombre del Cliente,
    c.customer_state AS Ciudad Cliente,
    s.seller_id AS Vendedor ID,
    s.seller_city AS Ciudad Vendedor,
    i.product_id AS Producto ID,
    i.product_category_name AS Categoria Producto,
    i.product_weight_g AS Peso Producto,
    i.product_length_cm AS Longitud Producto,
    i.product_height_cm AS Altura Producto,
    i.product_width_cm AS Ancho Producto,
    i.product_photos_qty AS Cantidad Fotos Producto,
    i.price AS Precio Unitario,
    COUNT(i.product_id) AS Cantidad,
    COUNT(i.product_id) * i.price AS Subtotal Orden,
    i.freight_value AS Costo Flete,
    (COUNT(i.product_id) * i.price) + i.freight_value AS Total Orden,
    SUM(pay.payment_value) AS Total Pago_Orden,
    (o.order_purchase_timestamp - order_estimated_delivery_date) AS Tiempo Entrega Estimado,
    o.order_status AS Estado Orden,
    o.review_score AS Calificacion


  FROM "brazilian-ecommerce/olist_orders_dataset" o
  JOIN "brazilian-ecommerce/olist_order_items_dataset" i ON o.order_id = i.order_id
  JOIN "brazilian-ecommerce/olist_order_payments_dataset" pay ON o.order_id = pay.order_id
  GROUP BY o.order_id;
  """

Ventas_DF = pd.read_sql_query(query_final, conn)
Ventas_DF.sort_values(by='Cantidad_Productos', ascending=False).head()

,order_id,product_id,Precio_Unitario,Cantidad_Productos,Subtotal_Orden,Costo_Flete,Total_Orden,Total_Pago_Orden
52745,895ab968e7bb0d5659d16cd74cd1650c,5ddab10d5e0a23acb99acf56b62b3276,83.80,63,5279.40,5.12,5284.52,483.96
98246,fedcd9f7ccdc8cba3a18defedd1a5547,0554911df28fda9fd668ce5ba5949695,79.99,38,3039.62,22.88,3062.50,411.48
96501,fa65dad1b0e818e3ccc5cb0e39231352,1aecdb5fa3add74e385f25c6c527a462,392.55,29,11383.95,65.44,11449.39,457.99
78975,ccf804e764ed5650cd8759557269dc13,8d37ee446981d3790967d0268d6cfc81,49.99,26,1299.74,12.69,1312.43,62.68
76421,c6492b842ac190db807c15aff21a7dd6,0449db5eede617c5fd413071d582f038,189.90,24,4557.60,22.80,4580.40,850.80

In [82]:
n = pd.DataFrame(Ventas_DF)
n.loc[n['order_id'] == '03caa2c082116e1d31e67e9ae3700499' ]

,order_id,product_id,Precio_Unitario,Cantidad_Productos,Subtotal_Orden,Costo_Flete,Total_Orden,Total_Pago_Orden
1455,03caa2c082116e1d31e67e9ae3700499,5769ef0a239114ac3a854af00df129e4,1680.0,8,13440.0,28.01,13468.01,109312.64

In [88]:
n.shape

(98665, 8)

In [106]:
pagosdf[pagosdf['order_id'] == '016726239765c18f66826453f39c64e3']

                             order_id  Total_Pago_Orden  Cantidad_Pagos
533  016726239765c18f66826453f39c64e3            265.77               1

In [104]:
n.loc[n['order_id']== '016726239765c18f66826453f39c64e3']

,order_id,product_id,Precio_Unitario,Cantidad_Productos,Subtotal_Orden,Costo_Flete,Total_Orden,Total_Pago_Orden,Diferencia de Pago
525,016726239765c18f66826453f39c64e3,c6ea63369936552872ae890c82175b4b,219.99,1,219.99,15.14,235.13,265.77,30.64

In [100]:


n['Diferencia de Pago'] = n['Total_Pago_Orden'] - n['Total_Orden']
n.loc[n['Diferencia de Pago'] > 10].sort_values(by='Cantidad_Productos', ascending=False)

,order_id,product_id,Precio_Unitario,Cantidad_Productos,Subtotal_Orden,Costo_Flete,Total_Orden,Total_Pago_Orden,Diferencia de Pago
62660,a3725dfe487d359b5be08cac48b64ec5,4e53a453045707bbc5febcf5f32097ac,14.99,24,359.76,22.06,381.82,1333.80,951.98
10831,1c11d0f4353b31ac3417fbfa5f0f2a8a,61b6e5d2e3ee58d2b341b8ef1a652b26,56.00,21,1176.00,12.77,1188.77,2951.83,1763.06
50137,8272b63d03f5f79c56e9e4120aec44ef,05b515fdc76e888aada3c6d66c201dff,1.20,21,25.20,7.89,33.09,4118.31,4085.22
10459,1b15974a0141d54e36626dca3fdc731a,ee3d532c8a438679776d222e997606b3,100.00,20,2000.00,10.12,2010.12,44048.00,42037.88
65715,ab14fdcfbe524636d65ee38360e22ce8,9571759451b1d780ee7c15012ea109d4,98.70,20,1974.00,14.44,1988.44,45256.00,43267.56
...,...,...,...,...,...,...,...,...,...
8257,156ba06ab4556cd19613dca1cefa9f7a,7b25acee1c4b91200a7e8e31bb977a06,69.90,1,69.90,17.74,87.64,101.22,13.58
6474,10a6730b0b333e2b017dd139a0530f19,93c902b021a9e594f658ab1b0351602a,97.90,1,97.90,29.09,126.99,143.53,16.54
2374,061c97a9bd7911f9d2031e1b820c344f,a70f58bd49225ad1d9f199d3766385a8,299.00,1,299.00,16.26,315.26,329.80,14.54
1123,02f4dd90ba0feb8ec394cac05862d2b5,f3c62fde9d2e2acf6c7c46648571c070,79.90,1,79.90,51.06,130.96,141.65,10.69
525,016726239765c18f66826453f39c64e3,c6ea63369936552872ae890c82175b4b,219.99,1,219.99,15.14,235.13,265.77,30.64

In [113]:
#Rehacemos el query final para la obtencion del DataFrame de Ventas

query_final = """
  WITH Total_Pagos AS (
    SELECT
      pay.order_id,
      SUM(pay.payment_value) AS Total_Pago_Orden
    FROM "brazilian-ecommerce/olist_order_payments_dataset" pay
    GROUP BY pay.order_id
  )
SELECT
    o.order_purchase_timestamp AS "Fecha",
    o.order_id AS "Orden ID",
    o.customer_id AS "Cliente ID",
    c.customer_unique_id AS "Nombre del Cliente",
    c.customer_state AS "Ciudad Cliente",
    s.seller_id AS "Vendedor ID",
    s.seller_city AS "Ciudad Vendedor",
    i.product_id AS "Producto ID",
    p.product_category_name AS "Categoria Producto",
    p.product_weight_g AS "Peso Producto g",
    (p.product_length_cm * p.product_height_cm * p.product_width_cm)  AS "Volumen Producto cm3",
    p.product_photos_qty AS "Fotos Producto",
    i.price AS "Precio Unitario",
    i.order_item_id AS "Cantidad",
    (i.order_item_id * i.price) AS "Subtotal Orden",
    i.freight_value AS "Costo Flete",
    (i.order_item_id * i.price) + i.freight_value AS "Total Orden",
    tp.Total_Pago_Orden AS "Total Pago Orden",
    (JULIANDAY(o.order_estimated_delivery_date) - JULIANDAY(o.order_purchase_timestamp)) AS "Tiempo Entrega Estimado (Dias)",
    o.order_status AS "Estado Orden",
    r.review_score AS "Calificacion"


  FROM "brazilian-ecommerce/olist_orders_dataset" o
  JOIN "brazilian-ecommerce/olist_order_items_dataset" i ON o.order_id = i.order_id
  JOIN "brazilian-ecommerce/olist_order_payments_dataset" pay ON o.order_id = pay.order_id
  JOIN "brazilian-ecommerce/olist_customers_dataset" c ON o.customer_id = c.customer_id
  JOIN "brazilian-ecommerce/olist_sellers_dataset" s ON i.seller_id = s.seller_id
  JOIN "brazilian-ecommerce/olist_products_dataset" p ON i.product_id = p.product_id
  LEFT JOIN "brazilian-ecommerce/olist_order_reviews_dataset" r ON o.order_id = r.order_id
  JOIN Total_Pagos tp ON o.order_id = tp.order_id
  GROUP BY o.order_id, i.product_id;
  """

Ventas_DF = pd.read_sql_query(query_final, conn)
Ventas_DF.sort_values(by='Cantidad', ascending=False).head()

,Fecha,Orden ID,Cliente ID,Nombre del Cliente,Ciudad Cliente,Vendedor ID,Ciudad Vendedor,Producto ID,Categoria Producto,Peso Producto g,...,Fotos Producto,Precio Unitario,Cantidad,Subtotal Orden,Costo Flete,Total Orden,Total Pago Orden,Tiempo Entrega Estimado (Dias),Estado Orden,Calificacion
52029,2017-07-16 18:19:25,8272b63d03f5f79c56e9e4120aec44ef,fc3d1daec319d62d49bfb5e1f83123e9,4546caea018ad8c692964e3382debd19,SP,2709af9587499e95e803a6498a5a56e9,sao paulo,79ce45dbc2ea29b22b5a261bbb7b7ee7,beleza_saude,1000.0,...,2.0,7.8,21,163.8,6.57,170.37,196.11,11.236516,delivered,1.0
39714,2018-04-17 21:08:59,637617b3ffe9e2f7a2411243829226d0,daf15f1b940cc6a72ba558f093dc00dd,37bc3d463e2a0024012a7fa587597a3c,SC,1f50f920176fa81dab994f9023523100,sao jose do rio preto,bf44071ef18f5c9ded039681c68b1996,bebes,6050.0,...,2.0,79.9,10,799.0,24.02,823.02,1246.97,29.118762,delivered,4.0
80870,2018-08-12 02:11:20,ca3625898fbd48669d50701aba51cd5f,0d861a5e4dd6a9079d89e1330848f0ab,c8ed31310fc440a3f8031b177f9842c3,SP,0b35c634521043bf4b47e21547b99ab5,teixeira soares,309dd69eb83cea38c51709d62befe1a4,construcao_ferramentas_construcao,2150.0,...,1.0,56.0,9,504.0,3.68,507.68,1157.28,31.908796,delivered,3.0
80869,2018-08-12 02:11:20,ca3625898fbd48669d50701aba51cd5f,0d861a5e4dd6a9079d89e1330848f0ab,c8ed31310fc440a3f8031b177f9842c3,SP,0b35c634521043bf4b47e21547b99ab5,teixeira soares,21b524c4c060169fa75ccf08c7da4627,construcao_ferramentas_construcao,3350.0,...,1.0,63.7,8,509.6,0.15,509.75,1157.28,31.908796,delivered,3.0
36029,2017-10-17 13:06:29,5a3b1c29a49756e75f1ef513383c0c12,be1c4e52bb71e0c54b11a26b8e8d59f2,d97b3cfb22b0d6b25ac9ed4e9c2d481b,SP,d2374cbcbb3ca4ab1086534108cc3ab7,ibitinga,e95fb3a80ca294f39de925b6428f3a32,cama_mesa_banho,1300.0,...,1.0,78.9,8,631.2,7.98,639.18,853.95,16.453831,delivered,1.0

In [114]:
Ventas_DF.shape

(102424, 21)